@font-face {
    font-family: "Raleway";
    src: url("../fonts/RalewayRegular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Raleway";
    src: url("../fonts/RalewayBold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Raleway";
    src: url("../fonts/RalewayExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoLight.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoMedium.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoBold.ttf");
    font-weight: 900;
}

body {
  padding: 0;
  margin: 0;
}

.global-part {
  float: left;
  min-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.container.top {
  margin-top: -18px;
}

.global-part.header {
  background-image: url("../img/surfing-theme.png");
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
}

.global-part.main {
  min-height: 2270px;
  background-color:  #f8f8f8;
}

.global-part.pre-footer {
  background-color: #373737;
  height: 300px;
}

.global-part.footer {
  background-color: #333333;
  height: 47px;
}

.clear {
  clear: both;
}

.fot{
  display: flex;
  justify-content: space-around;
}
