.logo {
  display: block;
  background-image: url(../img/logo.png);
  width: 125px;
  height: 111px;
  float: left;
  margin: 23px 0 0 69px;
}

.h-anons {
  background-color: #fff51f;
  width: 270px;
  height: 300px;
  float: left;
  margin-top: 202px;
}

.h-anons h2 {
  margin: 79px 0 0 25px;
  text-transform: uppercase;
  font-family: Raleway;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.h-anons p {
  font-family: Raleway;
  font-style: italic;
  margin: 20px 20px 0 21px;
  padding-right: 10px;
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}

.sprite-position {
  float: right;
  margin: -88px 59px 0 0
}

.sprite {
  background-image: url("../img/soc.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin: 4.4px;
}

.sprite-facebook {
  width: 10px;
  height: 16px;
  background-position: -12px -12px;
}

.sprite-insta {
  width: 16px;
  height: 16px;
  background-position: -44px -12px;
}

.sprite-pinterest {
  width: 14px;
  height: 16px;
  background-position: -84px -12px;
}

.sprite-twitter {
  width: 14px;
      height: 15px;
  background-position: -122px -12px;
}

.sprite-youtube {
  width: 15px;
  height: 16px;
  background-position: -162px -12px;
}

.annotation {
  /* position: absolute; */
  /* display: block; */
  width: 324px;
  /* top: 243px; */
  height: 169px;
  /* left: 747px; */
  float: right;
  margin: 110px 99px 0 0;
}

.annotation h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 34px;
  margin: 0;
  font-family: Raleway;
  color: #fff51f;
  text-align: left;
}

.annotation p {
  font-family: Raleway;
  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: Raleway;
  color: #fff51f;
  text-align: left;
}

.button a {
  position: absolute;
  background-color: #fff51f;
  width: 124px;
  height: 49px;
  left: 751px;
  top: 473px;
  text-align: center;
  text-transform: uppercase;
  font-family: Raleway;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 50px;
}

.button a:hover{
  background-color: #fffcc4;
}
