.glob-menu {
  float: left;
  position: relative;
  width: 270px;
}

.menu {
  height: 475px;
  margin-bottom: 30px;
}

.menu a:first-child {
  background-color: #333333;
  height: 66px;
  font-family: Roboto;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 74px;
  text-align: left;
  display: block;
  text-indent: 42px;
}

.menu a:nth-child(n+2) {
  text-decoration: none;
  background-color: #26d2fc;
  display: block;
  height: 37px;
  font-weight: 900;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 14px;
  color: black;
  text-indent: 40px;
  line-height: 37px;
}

.menu a:nth-child(n+2):hover {
  background-color: #333333;
  color: white;
}

.new-prod {
  background-color: #f8f8f8;
  width: 870px;
  min-height: 724px;
  float: right;
}

.advert {
  background-image: url(../img/get.jpg);
  width: 270px;
  height: 300px;
  margin-bottom: 30px;
  background-size: cover;
  position: relative;
  display: block;
}

.two {
  background-image: url(../img/surf2.jpg);
}

.advert p {
  font-family: Raleway;
  color: #333333;
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  width: 100px;
  float: right;
  margin: 120px 28px 0 0;
  font-style: italic;
  position: inherit;
}

.two p {
  float: left;
  margin: 120px 0 0 28px;
}

.advert::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .4);
}

.advert:hover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
}

.top-prod, .sale-prod {
  background-color: #f8f8f8;
  width: 870px;
  min-height: 400px;
  margin: 46px 0 0 0;
  float: right;
}

.sale-prod {
  margin: 50px 0 30px 0;
  min-height: 402px;
}

.brand {
  background-color: #ffffff;
  width: 1170px;
  height: 160px;
}

.inst {
  background-color: #eaeaea;
  width: 1170px;
  height: 350px;
}

.soc {
  width: 1170px;
  height: 150px;
}

.fb, .tw, .pin {
  width: 390px;
  height: 150px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fb {
  background-color: #3b5997;
}

 .fb::before, .tw::before, .pin::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 33, 33, 0);
}

.fb:hover::before, .tw:hover::before, .pin:hover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.tw {
  background-color: #3fccfd;
}

.pin {
  background-color: #cb2027;
}

.new-prod h2, .top-prod h2, .sale-prod h2 {
  font-family: Roboto;
  color: #707070;
  display: block;
  font-size: 22px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  padding: 28px 0 0 23px;
}

.url_cat {
  color: black;
  text-decoration: none;
  float: left;
  background-color: #ffffff;
  margin: 25px 30px 0px 0px;
  border: 2px solid white;
  width: 266px;
  height: 317px;
  position: relative;
  font-family: Roboto;
  color: #333333;
  font-weight: 900;
  box-shadow: 0 5px 2px -3px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(0, 0, 0, 0.1);
}

.url_cat:hover, .inst a:hover {
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1);
}

.url_cat:nth-child(3n) {
  margin-right: 0;
}

.cor-n::after, .cor-h::after {
  content: 'NEW';
  position: absolute;
  left: 221px;
  bottom: 277px;
  border: 23px solid transparent;
  font-size: 9px;
  color: #ffffff;
}

.cor-n::before, .cor-h::before {
  content: '';
  position: absolute;
  left: 221px;
  bottom: 273px;
  border: 23px solid transparent;
  border-top: 23px solid #e24602;
  border-right: 23px solid #e24602;
}

.cor-h::before {
  border-top: 23px solid #faef03;
  ;
  border-right: 23px solid #faef03;
  ;
}

.cor-h::after {
  content: 'HIT';
  color: #000000;
}

.url_cat .prodname {
  font-size: 14px;
  line-height: 20px;
  margin: 15px;
  width: 138px;
  font-style: italic;
}

.url_cat .cout {
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 236px;
  font-style: italic;
}

.url_cat .sale {
  color: #e24602;
  font-size: 14px;
  position: absolute;
  top: 266px;
  right: 10px;
  text-decoration: line-through;
  font-style: italic;
}

.img {
  background-color: #eaeaea;
  width: 250px;
  height: 230px;
  margin: 10px 0 0 7px;
}

.img img {
  margin: 0 auto;
  height: 100%;
  display: block;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand a img {
  width: 125px;
  margin: 10px;
}

.inst a {
  box-shadow: 0 5px 2px -3px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(0, 0, 0, 0.1);
}

.inst .centr {
  width: 280px;
  margin: 0 auto;
  padding-top: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inst .centr p {
  font-family: Roboto;
  color: #333333;
  font-size: 21px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  font-style: italic;
  text-align: left;
}

.inst .centr p:last-child {
  font-family: Roboto;
  color: #333333;
  font-size: 17px;
  font-weight: 900;
  font-style: italic;
  text-align: left;
}

.img-main {
  float: left;
  margin: 7px 12px 0px 0px;
  width: 185px;
  height: 185px;
}

.img-main:nth-child(7) {
  margin-right: 0;
}
