.cat {
  margin-top: 56px;
  max-width: 260px;
}

.cat h2 {
  font-family: Raleway;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 24px;
}

.cat a {
  font-family: Roboto;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  display: block;
  text-decoration: none;
}

.cat a:hover {
  text-decoration: underline;
}

.cat h2 {
  font-family: Raleway;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 24px;
}

.cat a {
  font-family: Roboto;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  display: block;
  text-decoration: none;
}

.cat {
  font-family: Roboto;
  color: #f8f8f8;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}

.cat input[type="email"] {
  margin-top: 15px;
  background-color: #fff51f;
  width: 160px;
  height: 30px;
  border: none;
  padding: 0 10px 0px 10px;
}

.cat input::-webkit-input-placeholder {
    font-size: 12px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
}

button {
  background-color: #000000;
  width: 71px;
  height: 34px;
  color: white;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
  position: relative;
}

.edit h2, .contact div {
  margin-bottom: 10px;
}

.contact div {
  margin-top: 10px;
}

.contact span:first-child {
  padding-right: 10px;
}

.edit a {
  text-decoration: none;
  color: #faef03;
  display: inline;
}

.subscribe {
  margin-top: 10px;
  margin: 1px 0 44px 0;
}

.cat a:hover {
  text-decoration: underline;
}

.bank {
  display: flex;
  justify-content: space-between;
}
